
    <style>
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 1em;
      background-color: white;
      gap: 1%;
    }

    .grid-col {
      background-color: #5C6AC4;
      display: grid;
      justify-content: center;
      padding: 20px;
      font-size: 70px;
      color: white;
      line-height: 1;
      border-radius: 5px;
      
    }
    .grid-col img, .grid-col p {
      display:inline-block;
    }
    </style>
    <div class="grid-wrapper">
      {%- for cause in shop.metafields.pledger.causes -%}
        <div class="grid-col">
          <img src="{{cause.image_url}}" />
          {{ cause.name }}
        </div>
      {%- endfor -%}
    </div>
    