
    <style>
    .grid-wrapper {
      display: flex;
      flex-direction:row;
      margin: 1em;
      background-color: white;
      flex-wrap: nowrap;
      align-content:space-between;
      gap:1%;
      background-color: {{section.settings.background_color}};
    }
	.text-col {
    	display:flex;
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px;
    }
    .grid-col {
      
      display: flex;
      justify-content: start;
      flex-direction:row;
      padding: 20px;
      color: {{section.settings.text_color}};
      line-height: 1;
      border-radius: 5px;
      flex-grow: 1;
      flex-basis: 0;
      align-items: center; 
    }
    .grid-col img, .grid-col p {
      display:inline-block;
    }
    .grid-col img {
      object-fit: contain;
      width:100px;
      height:100px;
    }
    </style>
	<div>
      <strong>Shop and Give</strong>
      <div class="grid-wrapper">
        <div class="text-col">
          <p>
	          When you spend <b>£200</b> or more we will give you <b>£20</b> to donate to a cause with impact.
          </p>
        </div>
        {%- for cause in shop.metafields.pledger.causes -%}
          <div class="grid-col">
            <img src="{{cause.image_url}}" />
            <p>{{ cause.name }}</p>
          </div>
        {%- endfor -%}
      </div>
	</div>