
    <style>
    .grid-wrapper {
      display: flex;
      flex-direction:row;
      margin: 1em;
      background-color: white;
      flex-wrap: nowrap;
      align-content:space-between;
      gap:1%;
    }

    .grid-col {
      background-color: #5C6AC4;
      display: flex;
      justify-content: center;
      flex-direction:row;
      padding: 20px;
      color: white;
      line-height: 1;
      border-radius: 5px;
      flex-grow: 1;
      flex-basis: 0;
    }
    .grid-col img, .grid-col p {
      display:inline-block;
    }
    .grid-col img {
      object-fit: contain;
      width:100px;
      height:100px;
    }
    </style>
    <div class="grid-wrapper">
      {%- for cause in shop.metafields.pledger.causes -%}
        <div class="grid-col">
          <img src="{{cause.image_url}}" />
          <p>{{ cause.name }}</p>
        </div>
      {%- endfor -%}
    </div>
    